@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

/* Defalut */
html, header, body, footer, nav, address, section, h1, h2, h3, h4, h5, h6, div, p, div, a, ul, ol, dl, li, dt, dd, button, table, caption, input, textarea{padding:0; margin:0; box-sizing:border-box; font-size:18px;}

body{background-color:#f6f6f6; display:flex; justify-content:center; align-items:center; font-family:'Noto Sans KR'; min-height:100vh;}
li{list-style:none;}
img{vertical-align:top; border:none;}
input{border:none;}
button{border:none; cursor:pointer; background:transparent;}
a{text-decoration:none;}

caption, .hidden{width:1px; height:1px; margin:-1px; overflow:hidden; position:absolute; clip:rect(0, 0, 0, 0); clip-path:inset(50%);}

:root{
  --border-color:#505050;
  --border-radius:8px;
}

/* Common */
.hidden{width:1px; height:1px; position:absolute; display:block; border:0; overflow:hidden; clip:rect(1px, 1px, 1px, 1px); clip-path:inset(50%);}

/* SearchBar */
.SearchBar{position:relative;}
.SearchBar .input_text{width:100%; background-color:#ccc; border-radius:var(--border-radius); height:50px; padding:14px 16px; font-size:18px;}
.SearchBar .search_btn{position:absolute; top:50%; right:11px; width:28px; height:28px; background:url(../public/img/search_btn.png) no-repeat; background-position:50% 50%; transform:translateY(-50%);}

/* Style */
#root{height:100vh; overflow:hidden;}
.App{font-family:'Noto Sans KR'; margin:12px 14px; padding:18px 13px; height:calc(100vh - 24px); border:1px solid var(--border-color); border-radius:var(--border-radius); overflow-y:scroll;}
section.list{margin-top:20px;}
section.list > ul > li + li{margin-top:12px;}
section.list > ul > li > a{display:flex; gap:15px; padding:12px 15px; border:1px solid var(--border-color); border-radius:var(--border-radius); cursor:pointer;}
section.list > ul > li > a div.text p{font-size:14px; line-height:1.2; color:#000; width:100%; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
section.list > ul > li > a div.text span{font-size:12px; line-height:1.2; color:#000;}
section.list .no_list{position:relative; display:flex; align-items:center; justify-content:center; flex-flow:column wrap; padding-top:342px;}
section.list .no_list::before{content:""; position:absolute; width:150px; height:150px; top:132px; left:50%; transform:translate(-50%); background:url(../public/img/broken\ heart.svg) no-repeat;}

@media (min-width:650px) {
  .App{width:640px;}
};

@media (max-width:650px) {
  .App{width:90vw;}
}
